@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body{
  background-color: #f9fafb;
}

html{
  scroll-behavior: smooth;
}

.scrollbarHidden::-webkit-scrollbar{
  display: none;
}